Soap/src/main/resources/PersonRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost:7071/ws"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person-xml" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person-xml" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>